Madoria-EDA

My analysis on the gross profit in the domestic vs foreign box office market:

In [195]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

After importing, pandas and matplotlib, I decided to get a peek of the data including a description of each of the table values.

In [224]:
df= pd.read_csv('data/bom.movie_gross.csv')
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [235]:
gross= df[df['studio'].notna() & df['domestic_gross'].notna()]
gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [236]:
new_gross= 
new_gross

KeyError: "None of [Index(['652000000', '691300000', '664300000', '535700000', '513900000',\n       '398000000', '311500000', '391000000', '291600000', '277300000',\n       ...\n       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],\n      dtype='object', length=3356)] are in the [columns]"

In [203]:
new_gross.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3356 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3356 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3356 non-null   float64
 3   foreign_gross   3356 non-null   object
 4   year            3356 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 157.3+ KB

In [228]:
new_gross['foreign_gross']= new_gross['foreign_gross'].astype(int)

ValueError: cannot convert float NaN to integer

In [191]:
new_gross.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3356 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3356 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3356 non-null   float64
 3   foreign_gross   3356 non-null   object
 4   year            3356 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 157.3+ KB

In [163]:
top_10_studios_domestic= gross.groupby('studio')['domestic_gross'].sum().sort_values(ascending=False).head(10)
top_10_studios_domestic

studio
BV         1.737644e+08
P/DW       1.682900e+08
WB (NL)    8.879333e+07
Uni.       8.777138e+07
WB         8.691461e+07
Fox        8.051103e+07
Sony       7.761177e+07
Par.       7.609773e+07
MGM        6.666667e+07
Sum.       6.212473e+07
Name: domestic_gross, dtype: float64

In [190]:
top_10_studios_foreign= new_gross.groupby('studio')['foreign_gross'].sum().sort_values(ascending=False).head(10)
top_10_studios_foreign

TypeError: can only concatenate str (not "int") to str

I noticed here that the foreign_gross has the most null values while domestic_gross and studio only have a couple. I need to analyze the null values in foreign_gross more.

In [219]:
df2= pd.read_csv('data/tn.movie_budgets.csv')
df2.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [220]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [222]:
cols = ['production_budget', 'domestic_gross', 'worldwide_gross']
df2[cols] = df2[cols].replace('[\$,]','', regex=True).astype(float)
df2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00
5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00
5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05

In [240]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 271.2+ KB

In [245]:
top_20_movies_domestic= df2.nlargest(20, 'domestic_gross')['movie']
top_20_movies_domestic

5       Star Wars Ep. VII: The Force Awakens
0                                     Avatar
41                             Black Panther
6                     Avengers: Infinity War
42                                   Titanic
33                            Jurassic World
26                              The Avengers
4          Star Wars Ep. VIII: The Last Jedi
43                             Incredibles 2
74                           The Dark Knight
44              Rogue One: A Star Wars Story
134                     Beauty and the Beast
45                              Finding Dory
303      Star Wars Ep. I: The Phantom Menace
3464            Star Wars Ep. IV: A New Hope
3                    Avengers: Age of Ultron
10                     The Dark Knight Rises
692                                  Shrek 2
3525               ET: The Extra-Terrestrial
95                            Captain Marvel
Name: movie, dtype: object

In [ ]:
fig, ax = plt.subplots()

ax.bar(x=top_20_movies_domestic, height=df2['domestic_gross'])

In [247]:
top_20_movies_worldwide= df2.nlargest(20, 'worldwide_gross')['movie']
top_20_movies_worldwide

0                                             Avatar
42                                           Titanic
5               Star Wars Ep. VII: The Force Awakens
6                             Avengers: Infinity War
33                                    Jurassic World
66                                         Furious 7
26                                      The Avengers
3                            Avengers: Age of Ultron
41                                     Black Panther
260    Harry Potter and the Deathly Hallows: Part II
4                  Star Wars Ep. VIII: The Last Jedi
112                   Jurassic World: Fallen Kingdom
155                                           Frozen
134                             Beauty and the Beast
43                                     Incredibles 2
22                           The Fate of the Furious
47                                        Iron Man 3
672                                          Minions
135                                          Aquaman
425    The Lord of the Rings: The Return of the King
Name: movie, dtype: object

In [110]:
df2_dupes= df2[df2.duplicated(subset= 'movie')
df2_dupes
"""Have no idea what it found duplicated, but I guess I'll just move on"""

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
273,74,"May 19, 1998",Godzilla,"$125,000,000","$136,314,294","$376,000,000"
408,9,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441"
484,85,"Jul 8, 2005",Fantastic Four,"$87,500,000","$154,696,080","$333,132,750"
543,44,"May 7, 1999",The Mummy,"$80,000,000","$155,385,488","$416,385,488"
707,8,"Jun 13, 1997",Hercules,"$70,000,000","$99,112,101","$250,700,000"
...,...,...,...,...,...,...
5668,69,"Nov 16, 1942",Cat People,"$134,000","$4,000,000","$8,000,000"
5676,77,"Oct 1, 1968",Night of the Living Dead,"$114,000","$12,087,064","$30,087,064"
5677,78,"Feb 8, 1915",The Birth of a Nation,"$110,000","$10,000,000","$11,000,000"
5699,100,"Aug 30, 1972",The Last House on the Left,"$87,000","$3,100,000","$3,100,000"
5718,19,"Feb 22, 2008",The Signal,"$50,000","$251,150","$406,299"

Now seeing if anything ties into df3.

In [125]:
df3= pd.read_csv('data/tmdb.movies.csv')
df3.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [121]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [126]:
df3.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [215]:
df3['vote_high_low']= ["High Votes" if x > 194 else "Low Votes" for x in df3['vote_count']]
df3.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,vote_high_low
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,High Votes
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,High Votes
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,High Votes
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,High Votes
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,High Votes